.container {
  background-color: rgb(68, 0, 64);
  color: white;
  flex: 0 0 200px;
}

.label {
  padding: 5px 30px;
}

.link {
  color: white;
  display: block;
  padding: 5px 30px;
  text-decoration: none;
}

.channel-list {
  padding-left: 0;
}

.channel {
  list-style: none;
}

.channel:hover:not(.active) {
  background-color: rgb(29, 29, 29);
}

.active {
  background-color: rgb(0, 133, 7);
}
