.container {
  background-color: black;
  color: white;
  flex: 0 0 200px;
  padding: 30px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.channel-list {
  padding-left: 0;
}

.channel {
  list-style: none;
}

.active {
  font-weight: 700;
}
