.container {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.date-separator {
  background-color: white;
  border-bottom: #333 1px solid;
  display: flex;
  height: 10px;
  justify-content: center;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
}

.date-separator-label {
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  height: 1em;
  padding: 6px;
  transform: translateY(-5px);
  z-index: 2;
}

.entry {
  background-color: white;
  display: flex;
  line-height: 22px;
  padding: 5px 40px;
}

.avatar {
  border-radius: 3px;
  display: inline-block;
  flex: 0 0 auto;
  height: 35px;
  overflow: hidden;
  width: 35px;
}

.post {
  padding-left: 10px;
}

.entry:hover {
  background-color: #efefef;
}

.author {
  font-weight: 700;
}

.time {
  color: #999;
  padding-left: 5px;
}

.reaction {
  border: 1px gray solid;
  border-radius: 4px;
  display: inline-block;
  margin-right: 2px;
  padding: 2px;
}

.reaction-emoji {
  display: inline-block;
  height: 1em;
  margin-right: 2px;
  vertical-align: middle;
  width: 1em;
}
